<section class="header-details">
  <div class="column-header">
    <button
      [ngStyle]="{
        'background-color': colorPoke,
        'box-shadow': '0 0 20px' + colorPoke
      }"
      (click)="onGoBack()"
      class="btn-back"
    >
      <i class="pi pi-arrow-left"></i> Back
    </button>
  </div>

  <details class="evolve-select">
    <summary
      class="radios"
      [ngStyle]="{
        'background-color': colorPoke,
        'box-shadow': '0 0 20px' + colorPoke
      }"
    >
      <input type="radio" title="Evolves to...   " checked />
      <input
        *ngFor="let evolves of evolveslinks"
        (click)="selectEvolved(input.value)"
        #input
        type="radio"
        value="{{ evolves.name }}"
        name="item"
        id="{{ evolves.name }}"
        title="{{ evolves.name }}"
      />
    </summary>
    <ul class="list">
      <li *ngFor="let evolves of evolveslinks">
        <label for="{{ evolves.name }}">{{ evolves.name }}</label>
      </li>
    </ul>
  </details>
</section>

<section
  class="container-poke fadeIn first"
  *ngIf="pokemon$ | async as poke"
  [ngStyle]="{
    background:
      ' linear-gradient(8deg, ' +
      colorPoke +
      ' 0%, rgba(235, 235, 235, 0) 35%, rgb(0 212 255 / 0%) 100%)'
  }"
>
  <div class="column">
    <h1>{{ poke.name }}</h1>
    <div class="pokedex-pokemon-profile">
      <div class="profile-images">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
            poke.id
          }}.png"
          alt=""
        />
      </div>
    </div>
  </div>

  <div *ngIf="pokemon$ | async as poke" class="column-details">
    <table>
      <tr>
        <td><h3>ID</h3></td>
        <td class="td-value">#{{ poke.id }}</td>
      </tr>
      <tr>
        <td><h3>Abilities</h3></td>
        <td class="td-flex">
          <p *ngFor="let abilitie of poke.abilities">
            {{ abilitie.ability.name }}
          </p>
        </td>
      </tr>
      <tr>
        <td><h3>Height</h3></td>
        <td class="td-value">{{ poke.height + "m" }}</td>
      </tr>
      <tr>
        <td><h3>Weight</h3></td>
        <td class="td-value">{{ poke.height + "kg" }}</td>
      </tr>
      <tr>
        <td><h3>Types</h3></td>
        <td class="td-flex">
          <p
            [ngStyle]="{
              'background-color': getColorByType(type.type.name),
              'box-shadow': '0 0 20px' + getColorByType(type.type.name)
            }"
            *ngFor="let type of poke.types"
          >
            {{ type.type.name
            }}<img
              [ngStyle]="{
                'background-color': getColorByType(type.type.name),
                'box-shadow': '0 0 20px' + getColorByType(type.type.name)
              }"
              class="icon-type"
              src="../../../assets/icons-types/{{ type.type.name }}.svg"
              alt=""
            />
          </p>
        </td>
      </tr>
    </table>
  </div>
</section>
