form {
  margin: 2em 0;
  padding: 30px;
  .image {
    justify-content: space-between;
    transform: translateY(-86px);
    position: relative;
    border-radius: 12px;
    top: -30%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    z-index: 1;
    img {
      width: 288px;
      border-radius: 15px;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 100px 20px 20px 0px;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

label,
input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input:focus::-webkit-input-placeholder {
  opacity: 1;
}

input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}

.btn-back {
  z-index: 2;
  margin: 5px 5px 5px 5px;
  color: #ffffff;
  border: none;
  background-color: #ff0000;
  border-radius: 12px;
  width: 64px;
  height: 37px;
}
.btn-primary {
  color: #ffffff;
  border: none;
  background-color: #ff0000;
  border-radius: 12px;
  width: 64px;
  height: 37px;
}
.btn-primary:disabled,
.btn-primarybutton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
