<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">
      <img src="../../../assets/Poké_Ball_icon.svg.png" alt="">
  </div>
  <!-- NAVIGATION MENU -->
  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <li><a href="/">Home</a></li>
      <li class="dropBox">
        <a href="/">About</a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li><a href="/">Dropdown 1 </a></li>
          <li><a href="/">Dropdown 2</a></li>
          <li><a href="/">Dropdown 2</a></li>
          <li><a href="/">Dropdown 3</a></li>
          <li><a href="/">Dropdown 4</a></li>
        </ul>
      </li>
    </div>
  </ul>
</nav>
