<nav class="navbar">
  <div class="logo">
    <img src="../../../assets/Poké_Ball_icon.svg.png" alt="" />
  </div>
  <ul class="nav-links">
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>
    <div class="menu">
      <li>
        <a [routerLink]="['home']">Home</a>
      </li>
      <li class="dropBox">
        <a>More</a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li>
            <img src="../../../assets/github.svg" alt="" /><a
              href="https://github.com/nacho992/pokedex-lite"
              >GitHub</a
            >
          </li>
          <li *ngIf="loged" (click)="logOut()">
            <img src="../../../assets/bag-x-fill.svg" alt="" />
            <a>LogOut</a>
          </li>
        </ul>
      </li>
    </div>
  </ul>
</nav>
