<section class="container">
  <div class="card">
    <div class="image">
      <img
        [ngStyle]="{'background': ' linear-gradient(8deg, ' + getPrimaryColor() + ' 0%, rgba(235, 235, 235, 0) 35%, rgb(0 212 255 / 0%) 100%)'}"
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
          pokemon.id
        }}.png"
        [alt]="pokemon.name"
      />

      <label>
        <span>Name</span>
        <h3 class="color-white">{{ pokemon.name }}</h3>
      </label>

      <label>
        <span>Types</span>
        <div class="types">
          <h5 *ngFor="let type of pokemon.types">
            <img
              [ngStyle]="{'background-color': getColorByType(type.type.name), 'box-shadow': '0 0 20px' + getColorByType(type.type.name)}"
              class="icon-type"
              src="../../../assets/icons-types/{{ type.type.name }}.svg"
              alt=""
            />
          </h5>
        </div>
      </label>

      <label>
        <span>Level</span>
        <h4 class="color-white">{{ pokemon.base_experience }}</h4>
      </label>
    </div>

    <div class="content">
      <button [routerLink]="['/form-poke', pokemon.id]" type="button">
        <i class="pi pi-user-edit"></i>
        Edit
      </button>
      
      <button (click)="confirm()" type="button">
        <i class="pi pi-trash"></i>
        Delete
      </button>
      <button [routerLink]="['/pokemon-details', pokemon.id]"> <i class="pi pi-list"></i> view more</button>
    </div>
  </div>
</section>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
<p-toast [showTransformOptions]="'translateX(100%)'"></p-toast>
