<section class="container">
  <div class="card">
    <div class="image">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{
        pokemon.id
      }}.png" [alt]="pokemon.name" />
      
      <label>
        <span>Name</span>
        <h3 class="color-white">{{ pokemon.name }}</h3>
      </label>

      <label>
        <span>Types</span>
        <div class="types">
          <h5 *ngFor="let type of pokemon.types">{{ type.type.name }},</h5>
        </div>
      </label>

      <label>
        <span>Level</span>
        <h4 class="color-white">{{ pokemon.base_experience }}</h4>
      </label>
    </div>

    <div class="content">
      <button [routerLink]="['/form-poke', pokemon.id]" type="button">
        Edit
      </button>
      <button (click)="confirm()" icon="pi pi-times" type="button">Delete</button>
      <button [routerLink]="['/pokemon-details', pokemon.id]">view more</button>
    </div>
  </div>
</section>

<p-confirmDialog [style]="{width: '50vw'}" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast [showTransformOptions]="'translateX(100%)'"></p-toast>